#title{
  background-color: #ff4c68;
}
body{
  /* font-family: 'Montserrat', sans-serif; */
}
h1{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size:3rem;
  color:white;
  margin-bottom: 30px;
}
.container-fluid{
  padding: 3% 15% 7%;

  /* height: 600px;*/
}

.naaav{
  /* padding-top:  20px; */
  padding:0rem 0rem 4.5rem 0rem;

  /* font-size: 2rem; */
}
.nav-link{
  margin: 0px 18px 0px 18px;
  font-size: 1.2rem;
}
.tindog{
  font-size: 2rem;
  font-family: "Ubuntu";
}
.phone{
  width: 60%;
  transform: rotate(25deg);
  right: 20%;
  position: absolute;
}
.download-button{
  margin: 5% 3% 5% 0%;
}

/* #features{
  text-align: center;
  margin: 200px 200px 100px 200px;
} */
#features {
  /* z-index: 1; */
  padding: 7% 15%;
  background-color: #FFF;
  position: relative;
}
h3{
font-family: 'Montserrat', sans-serif;
font-size: 1.5rem;
margin-top: 10px;
}
p{
  color : #8f8f8f;
}
.feature-column{
  padding: 10px 50px;
}
.fas{
  color : #ef8172;
}
.fas:hover{
  color : #ff4c68;
}
#carouselExampleControls{
  text-align: center;
  background-color: #ef8171;
  color: #fff;
}
.carousel-item{
  padding: 7% 15%;
}
h2{
  font: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial{
  width: 10%;
  border-radius: 100%;
  margin : 20px;
}
#press{
   background-color: #ef8171;
   text-align: center;
   padding-bottom: 3%;
}
.brands{
 width: 15%;
 margin: 3% 3% 5%;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-row{
  padding: 3% 2%;
}
#cta{
  text-align: center;
    padding: 4% 18% 5%;
  background-color: #ff4c68;
  font: "Montserrat-bold";
  /* font-size: 3rem;
  line-height: 1.5; */
}
.ctatxt{
  color: #fff;
  font-size: 3rem;
  line-height: 1.5;
}
#footer{
  text-align: center;
    padding: 5% 18% 4%;
}
.foo{
  margin: 0px 10px 15px 10px;
}
  @media (max-width :991px ) {
    #title{
      text-align: center;
    }
  .phone{
     position: static;
    transform :rotate(0);
    text-align: center;
    margin: 0px auto;

  }

  #features{
    position: relative;
  }
}
